<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caça Níquel - Tutankhamun's Casino</title>
    <link href="css/cacaniquel.css" rel="stylesheet">
</head>

<body>
    <div id="divBody">
        <img src="img/voltarBranco.png" alt="Botão Voltar" id="btnVoltar">
    
        <div id="jogo">
            <div id="DivRoleta">
                <h1 id="result"></h1>
                <div>
                    <img src="../img/fundoJogo.png" alt="Fundo Jogo" class="fundoJogo">
                    <img src="" id="img1">
                </div>
                <div>
                    <img src="../img/fundoJogo.png" alt="Fundo Jogo" class="fundoJogo">
                    <img src="" id="img2">
                </div>
                <div>
                    <img src="../img/fundoJogo.png" alt="Fundo Jogo" class="fundoJogo">
                    <img src="" id="img3">
                </div>
                <div>
                    <img src="../img/fundoJogo.png" alt="Fundo Jogo" class="fundoJogo">
                    <img src="" id="img4">
                </div>
            </div>
    
            <div id="aposta">
                <div id="divBtnPai">
                    <div id="btnMais">+</div>
                    <div id="btnMenos">-</div>
                </div>
                <div id="divPai">
                    <input type="number" placeholder="Valor da aposta" id="inputAposta">
                    <div id="divPaiMD">
                        <div id="metade">1/2</div>
                        <div id="dobro">2x</div>
                    </div>
                </div>
            </div>
    
            <div id="DivMultiplicadores">
                <h1>Multiplicadores</h1>
                <div class="mult">
                    <img src="../img/coco.png" alt="Coco">
                    <img src="../img/coco.png" alt="Coco">
                    <img src="../img/coco.png" alt="Coco">
                    <span class="multTxt">x2</span>
                </div>
                <div class="mult">
                    <img src="../img/cetro.png" alt="cetro">
                    <img src="../img/cetro.png" alt="cetro">
                    <img src="../img/cetro.png" alt="cetro">
                    <span class="multTxt">x4</span>
                </div>
                <div class="mult">
                    <img src="../img/piramide.png" alt="piramide">
                    <img src="../img/piramide.png" alt="piramide">
                    <img src="../img/piramide.png" alt="piramide">
                    <span class="multTxt">x8</span>
                </div>
                <div class="mult">
                    <img src="../img/farao2.png" alt="farao">
                    <img src="../img/farao2.png" alt="farao">
                    <img src="../img/farao2.png" alt="farao">
                    <span class="multTxt">x16</span>
                </div>
                <div class="mult">
                    <img src="../img/olho.png" alt="olho">
                    <img src="../img/olho.png" alt="olho">
                    <img src="../img/olho.png" alt="olho">
                    <span class="multTxt">x32</span>
                </div>
                <div class="mult">
                    <img src="../img/gato.png" alt="gato">
                    <img src="../img/gato.png" alt="gato">
                    <img src="../img/gato.png" alt="gato">
                    <span class="multTxt">x64</span>
                </div>
            </div>
    
            <div id="btnJogar">
                <h1>Jogar</h1>
            </div>
        </div>
    </div>

    <script src="../js/cacaniquel.js"></script>
</body>

</html>