<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogar Caça Níquel</title>
    <link href="css/cacaniquel.css" rel="stylesheet">
</head>

<body>
    <img src="img/voltarBranco.png" alt="Botão Voltar" id="btnVoltar">

    <div id="jogo">
        <div id="DivRoleta">

        </div>

        <div id="DivMultiplicadores">

        </div>

        <div id="interface">
            <div id="aposta">

            </div>

            <div id="btnJogar">

            </div>
        </div>

    </div>

    <script src="js/cacaniquel.js"></script>
</body>

</html>