<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/cadastro.css">
    <script defer src="js/cadastro.js"></script>
</head>

<body>
    <img src="img/voltarPreto.png" alt="Botão Voltar" id="btnVoltar">
    <img src="img/crocodilo.png" alt="Crocodile" id="crocEsq">
    <div id="divCadastro">
        <h1 id="tit">Cadastro</h1>
        <div id="riscoTit"></div>
        <input type="text" pattern="\d{3}.\d{3}.\d{3}-\d{2}" placeholder="CPF" id="inputCpf">
        <input type="text" placeholder="Nome de Exibição" id="inputNome">
        <input type="email" placeholder="E-mail" id="inputEmail">
        <div id="divSenha">
            <input type="password" name="senha" id="inputSenha" placeholder="Senha">
            <img src="img/iconeOlho.png" id="olho" alt="Ícone de Olho">
            <img src="img/iconeOlho2.png" id="olho2" alt="Ícone de Olho2" hidden="true">
        </div>
        <input type="submit" value="Cadastrar">
    </div>
    <img src="img/crocodilo.png" alt="Crocodile" id="crocDir">
</body>

</html>