<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="css/perfil.css">
</head>

<body>
    <header>
        <div class="divImgs">
            <img src="img/farao.png" class="faraoHeader" onclick="home()">
            <img src="img/logoBranca.png" class="logoHeader" onclick="home()">
        </div>
        <div class="divImgs">
            <img src="img/risco.png" class="riscoHeader">
            <img src="img/iconeRanking.png" class="rankingHeader" onclick="ranking()">
            <img src="img/risco.png" class="riscoHeader">
            <img src="img/iconePerfil.png" class="perfilHeader" onclick="perfil()">
            <img src="img/sair.png" class="sairHeader" onclick="deslogar()">
        </div>
    </header>

    <img src="img/voltarPreto.png" alt="Botão Voltar" id="btnVoltar">
    <main>

        <div id="containerPerfil">
            <div id="historico">
                <div class="vitoria">
                    <img src="img/crocoins.png" alt="">
                    <span>200</span>
                    <span>-></span>
                    <img src="img/crocoins.png" alt="">
                    <span>12.800</span>
                </div>
                <div class="vitoria">
                    <img src="img/crocoins.png" alt="">
                    <span>200</span>
                    <span>-></span>
                    <img src="img/crocoins.png" alt="">
                    <span>6.400</span>
                </div>
                <div class="vitoria">
                    <img src="img/crocoins.png" alt="">
                    <span>200</span>
                    <span>-></span>
                    <img src="img/crocoins.png" alt="">
                    <span>800</span>
                </div>
                <div class="vitoria">
                    <img src="img/crocoins.png" alt="">
                    <span>200</span>
                    <span>-></span>
                    <img src="img/crocoins.png" alt="">
                    <span>6.400</span>
                </div>
                <div class="derrota">
                    <img src="img/crocoins.png" alt="">
                    <span>200</span>
                    <span>-></span>
                    <img src="img/crocoins.png" alt="">
                    <span>0</span>
                </div>
            </div>

            <div id="perfil">
                <div id="divPerfil">
                    <span id="nomePerfil"></span>
                    <span id="nivelPerfil"></span>
                    <div>
                        <img src="img/crocoins.png" alt="crocoin" id="crocImg">
                        <span id="coinsPerfil"></span>
                    </div>
                    <div id="divImgPerfil">
                        <img src="img/userImg.jpg" alt="Foto Perfil" id="fotoPerfil">
                        <img src="img/iconeLapis.png" alt="Lápis Perfil" id="iconeLapis">
                    </div>
                </div>
                <div id="divPerfilJogos">
                    <h1>Caça-Níquel</h1>
                    <div id="jogos">
                        <span>Jogos</span>
                        <span id="jogosPerfil"></span>
                    </div>
                    <div id="vitorias">
                        <span>Vitórias</span>
                        <span id="vitoriasPerfil"></span>
                    </div>
                    <div id="derrotas">
                        <span>Derrotas</span>
                        <span id="derrotasPerfil"></span>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/perfil.js"></script>

    </main>

</body>

</html>