<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank Global</title>
    <link href="css/ranking.css" rel="stylesheet">
</head>

<body>
    <div id="titulorank">
        <p>Ranking Global</p>
    </div>

    <img src="img/voltarBranco.png" alt="Botão Voltar" id="btnVoltar">
    <div id="paiPesquisa">
        <div id="divPesquisa">
            <img src="img/iconeLupa.png" id="iconeLupa" alt="Ícone de Lupa">
            <input type="text" name="pesquisarJogos" id="pesquisarJogos" placeholder="Pesquise por jogadores!">
        </div>
    </div>

    <div id="pairank">
        <table>
            <tr>
                <th>Colocação</th>
                <th>Nome</th>
                <th>Saldo</th>
            </tr>
            <tbody id="tbody"></tbody>
        </table>
    </div>


    <script src="js/ranking.js"></script>
</body>

</html>