@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Eczar';
    background-image: url('../img/fundocacaniquel.png');
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: 100%;
    overflow: hidden;
}

#btnVoltar{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    cursor: pointer;
   
}



#DivRoleta{
border: 2px white solid;
border-radius: 20px;
height: 400px;
width: 800px;
background-color:#00682A;
}

#DivMultiplicadores{
border: 2px white solid;
border-radius: 20px;
height: 400px;
width: 300px;
background-color:#00682A;
}

#jogo{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#interface{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}