@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Eczar';
    background-image: url('../img/bgCadastro.png');
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: 100%;
    height: 97vh;
    width: 98vw;
}

#divCadastro{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30%;
    background-color: white;
    border: black 1px solid;
    border-radius: 10px;
}

input {
    height: 52px;
    width: 70%;
    margin: 5px 0;
    padding: 0 10px;
    background-color: rgba(253, 187, 89, 0.8);
    border: #00682A 5px solid;
    border-radius: 5px;
    border-width: 0 0 0 5px;
    font-size: 20px;
    font-weight: 800;
} 

input[type=submit] {
    height: 42px;
    width: 40%;
    margin: 10px 0;
    padding: 0 5px;
    background-color: #00682A;
    color: white;
    font-size: 15px;
    font-weight: 800;
} 

input::placeholder{
    font-family: 'Eczar';
    color: black;
}

input:focus{
    outline: none;    
}

#olho {
    cursor: pointer;
    left: 780px;
    top: 416px;
    position: absolute;
    width: 40px;
}

#olho2 {
    cursor: pointer;
    left: 774px;
    top: 418px;
    position: absolute;
    width: 55px;
}

#riscoTit{
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
    background-color: black;
    width: 60%;
    height: 2px;
}

#tit{
    margin: 0;
    font-size: 40px;
    font-weight: 800;
}

#crocEsq, #crocDir{
    margin-top: -370px;
    width: 100px;
}

#crocDir{
    transform: rotateY(180deg);
}

#btnVoltar{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    cursor: pointer;
}