header {
    background-color: #530094;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(224.68deg, #FFFFFF, #FFD977, rgba(255, 217, 119, 0.25));
    margin: 0;
}

main {
    height: 563px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#btnVoltar {
    position: absolute;
    top: 12%;
    left: 20px;
    width: 70px;
    cursor: pointer;
}

main > div{
    margin-left: 50px;
    margin-right: 50px;
}

.faraoHeader {
    cursor: pointer;
    height: 70px;
}

.logoHeader {
    cursor: pointer;
    height: 70px;
}

.sairHeader {
    cursor: pointer;
    height: 55px;
}

.rankingHeader {
    cursor: pointer;
    height: 60px;
}

.riscoHeader {
    height: 60px;
}

.perfilHeader {
    cursor: pointer;
    height: 60px;
}

.divImgs img {
    margin: 0 10px;
}

.divImgs > button{
    cursor: pointer;
    border-radius: 5px;
    background-color: #FFD977;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: #530094;
    outline: none;
}

.divImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#historico {
    padding: 20px;
    background-color: #530094;
    width: 30%;
    height: 35rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.vitoria{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 30px;
    font-weight: 900;
    color: white;
    background-color: green;
    width: 80%;
    height: 15%;
    border: 1px black solid;
    border-radius: 5px;   
    box-shadow: 5px 5px 1px rgb(43, 49, 49);
}

.derrota{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 30px;
    font-weight: 900;
    color: white;
    background-color: red;
    width: 80%;
    height: 15%;
    border: 1px black solid;
    border-radius: 5px;   
    box-shadow: 5px 5px 1px rgb(43, 49, 49);
}

#containerPerfil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
}

#divPerfil{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    height: 11rem;
    width: 100%;
}

#nomePerfil{
    font-size: 50px;
    font-weight: 900;
}

#nivelPerfil{
    font-size: 40px;
    font-weight: 900;
}

#coinsPerfil{
    font-size: 40px;    
    font-weight: 900;
}

#fotoPerfil{
    border: 1px black solid;
    border-radius: 360px;
    width: 120px;
}

#divImgPerfil{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#iconeLapis{
    width: 30px;
    margin-left: -30px;
}

#divPerfilJogos{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    height: 17rem;
    width: 28rem;
    background-color: #530094;
    color: white;
}

#divPerfilJogos > h1{
    margin: 10px;
}

#jogos{
    background-color: white;
    color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 900;
    border-radius: 20px;
    height: 10%;
    width: 80%;
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 5px 1px rgb(43, 49, 49);
}

#vitorias{
    background-color: white;
    color: green;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 900;
    height: 10%;
    width: 80%;
    margin: 5px;
    padding: 10px;   
    box-shadow: 5px 5px 1px rgb(43, 49, 49);
}

#derrotas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-size: 30px;
    font-weight: 900;
    color: red;
    border-radius: 20px;
    height: 10%;
    width: 80%;
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 5px 1px rgb(43, 49, 49);
}