body {
    font-family: 'Eczar';
    height: 97vh;
    width: 98vw;
    background-image: url("../img/fundorank.png");
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#titulorank {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

#titulorank>p {
    margin: 0;
}

#divPesquisa {
    display: flex;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
}

#paiPesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 30%;
    height: 50px;
}

#pesquisarJogos {
    font-size: 20px;
    border: none;
    width: 600px;
}

#pesquisarJogos:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#pesquisarJogos::placeholder {
    font-weight: 900;
    color: black;
}

#iconeLupa {
    height: 50px;
}

#pairank {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border-color: black;
    height: 450px;
    width: 500px;
    background-color: white;
}

#scrollable{
    width: 95%;
    overflow-y: scroll;
}

table {
    overflow-y: scroll;
    margin: 10px 0px;
    width: 99%;
    text-align: center;
    border: 1px black solid;
    border-collapse: collapse;
}

td, th{
    font-family: 'Eczar';
    font-size: 20px;
    padding: 6px;
    border: 1px black solid;
}

.tdSal{
    width: 20%;
}

#primeiro{
    width: 20%;
    color: white;
    background-color: #FAC745;
}

#segundo{
    width: 20%;
    color: white;
    background-color: #AFAFAF;
}

#terceiro{
    width: 20%;
    color: white;
    background-color: #AF8005;
}

.foraPodio{
    width: 20%;
    background-color: #530094;
    color: white;
}

#btnVoltar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    cursor: pointer;
}

#scrollable {
    scrollbar-color: #000000 #ffffff;
}

#scrollable::-webkit-scrollbar {
    width: 10px;
}

#scrollable::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 20px;
}

#scrollable::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #00ffb3;
}